#root {
    height: 100vh;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
}

.logo {
    max-width: 123px;
}

.signup-modal {
    width: 60%;
    height: 70%;
}

.login-modal {
    width: 60%;
    height: 60%;
}

.modal-input {
    width: 300px;
}

.input-names {
    padding: 10px;
}

.modal-row {
    display: flex;
    align-items: center;
}

.modal-row-content {
    margin: 0 auto;
    display: flex;
}

.show-password {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.modal-header {
    height: 60px;
    text-align: center;
    padding-top: 16px;
    font-size: 25px;
}

.modal-button {
    width: 40%;
    display: flex;
    justify-content: center;
}

.button-layout {
    display: flex;
}

.left-button {
    margin-left: 7%;
    margin-right: 6%;
}

.welcome-screen {
    height: 100%;
}

.welcome-container {
    height: 60%;
}

.welcome-text {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    height: 40%;
}

.welcome-earth {
    padding-top: 2%;
    padding-bottom:2%; 
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-error {
    text-align: center;
    padding-top: 30px;
}

.map-select {
    height: 75%;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
}

.map-select-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 12%;
}

.maps-container {
    height: 88%;
    width: 100%;
    display: flex;
}

.map-list {
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

.create-map-container {
    width: 50%;
    height: 100%;
    text-align:  center;
}

.map-earth-container {
    height: 85%;
    width: 100%;
}

.map-earth {
    max-height: 100%;;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.create-map {
    height: 15.3%;
    width: 100%;
    justify-content: center;
}

.map-entry {
    align-items: center;
    width: 100%;
    height: 81px;
    display: flex;
}

.map-entry-name {
    padding-top: 26px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 81px;
    display: inline-block;
    align-items: center;
}

.map-entry-name-container {
    width: 70%;
    margin-left: 5%;
    display: flex;
}

.map-entry-controls {
    width: 10%;
}

.edit, .delete {
    float: right;
}

.material-icons {
    padding: 5px;
    border-radius: 6px;
    font-size: 30px;
    user-select: none;
}

.create-map-input-container {
    height: 15.3%;
    width: 100%;
    display: flex;
}

.create-map-input {
    height: 100%;
    width: 75%;
    float: left;
    font-size: 25px;
    padding-left: 10px;
}

.create-button-container {
    height: 100%;
    width: 25%;
}

.create-map-buttons {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    margin-bottom: 1px;
}

.edit-map-name-input {
    font-size: 25px;
    margin-left: 5%;
    padding-left: 5px;
    width: 90%;
}

.map-delete-confirmation {
    height: 100%;
    width: 100%;
    display: flex;
}

.map-delete-confirmation-text {
    margin-left: 5%;
    width: 50%;
    display: flex;
    align-items: center;
}

.map-delete-confirmation-controls {
    justify-content: center;
    width: 20%;
    margin-left: 2px;
    height: 50%;
    margin-top: 20px;
} 

.region-spreadsheet-container {
    height: 80%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
}

.region-spreadsheet-preheader {
    display: flex;
    width: 100%;
    height: 8%;
}

.spreadsheet-controls {
    display: flex;
    width: 150px;
}

.region-spreadsheet-header, .spreadsheet-entry {
    width: 100%;
    display: flex;
    text-align: center;
}

.col-0 {
    width: 22%;
}

.col-1 {
    width: 19%;
}

.col-2 {
    width: 10%;
}

.col-3 {
    width: 30%;
}

.header-col {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 20px;
}

.entry-container {
    display: flex;
}

.delete-subregion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 45px;
}

.edit-subregion-name {
    width: 45px;
}

.entry-col {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding: 8px;
}

.region-spreadsheet-list {
    overflow-y: auto;
    height: 100%;
}

.region-spreadsheet {
    width: 100%;
    height: 82%;
}

.region-spreadsheet-name-container {
    width: calc(100% - 300px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
    text-align: center;
}

.subregion-input {
    height: 80%;
    width: 70%;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

.entry-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-filler-image {
    height: 20px;
}

.region-viewer-container {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    display: flex;
}

.viewer-left-content {
    width: 60%;
}

.viewer-image-container {
    width: 100%;
}

.viewer-filler-image {
    margin-top: 25px;
    width: 60%;
}

.viewer-information-container, viewer-information-row {
    width: 100%;
}

.viewer-information-row {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.viewer-right-content {
    width: 40%;
}

.viewer-landmarks-title {
    width: 100%;
    text-align: center;
}

.viewer-landmarks-container {
    width: 100%;
    height: calc(100% - 79px);
}

.viewer-add-landmark {
    height: 50px;
}

.add-landmark {
    justify-content: center;
    height: 100%;
    width: 100%;
}

.add-landmark-input-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.add-landmark-input, .add-landmark-controls {
    height: 100%;
}

.add-landmark-input {
    width: 60%;
    padding: 0;
    padding-left: 5px;
}

.add-landmark-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: 1px;
}

.region-landmarks-list {
    height: 100%;
    width: 100%;
    padding: 6% 10%;
    overflow-y: auto;
}

.landmarks-entry {
    width: 100%;
    padding: 5px 0px;
}

.spreadsheet-buttons {
    height: 40px;
}