#root {
    height: 100vh;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
}

.logo {
    max-width: 109px;
}

.signup-modal {
    width: 60%;
    height: 50%;
}

.modal-input {
    width: 300px;
}

.input-names {
    padding: 10px;

}

.modal-row {
    display: flex;
    align-items: center;
}

.modal-row-content {
    margin: 0 auto;
    display: flex;
}

.modal-header {
    height: 60px;
    text-align: center;
    padding-top: 16px;
    font-size: 25px;
}

.modal-button {
    width: 40%;
    display: flex;
    justify-content: center;
}

.button-layout {
    display: flex;
}

.create {
    margin-left: 7%;
    margin-right: 6%;
}