@use 'node_modules/wt-frontend/build/global/theme' with (
    $modal-border: 1px solid rgb(87, 93, 105),
    // other variable changes here
);

@use 'node_modules/wt-frontend/build/global/wolfie' as *;
@use 'node_modules/wt-frontend/build/global/components';

html, body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.logo:hover {
    cursor: pointer;
    color: rgb(196, 196, 196);
}

.input-names {
    font-size: 20px;
}

.navbar-options {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar-options:hover {
    color: black;
}

.modal-header, .map-select-header {
    background-color: #02BFA5;
    color: white;
}

.welcome-text {
    font-size: 60px;
    font-weight: bold;
}

.modal-error {
    font-size: 20px;
}

.map-select {
    background-color: rgb(226, 226, 226);
}

.create-map {
    font-size: 25px;
    font-weight: bold;
}

.map-list {
    background-color: rgb(214, 214, 214);
    scrollbar-width: thin;
}


.map-entry {
    font-size: 25px;
    font-weight: bold;
}

.map-entry:hover {
    background-color: rgb(226, 226, 226);
}

.edit-subregion-name:hover {
    background-color: rgb(230, 230, 230);
}

.create-map-input {
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-color: rgb(245, 245, 245);
    color: rgb(109, 109, 109);
}

.material-icons {
    cursor: pointer;
}

.edit:hover, .delete:hover {
    background-color: rgb(201, 201, 201);
}

.edit, .edit-subregion-name {
    color: rgb(219, 186, 40);
}

.map-entry-name, .delete, .entry-col {
    color: rgb(49, 49, 49);
}

.edit-map-name-input {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: 2px solid #02BFA5;
    outline: 0;
}

.wnavitem::marker {
    color: rgb(214, 214, 214);
}

.create-map-input {
    outline: none;
    border-radius: 5px;
    border: 2px solid #02BFA5;
}

.map-entry-name-container:hover {
    cursor: pointer;
}

.editingMap {
    background-color: rgb(226, 226, 226);
}

.map-delete-confirmation-text {
    color: #D32F2F;
}

.update-input {
    font-size: 18px;
    padding-left: 8px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid rgb(175, 175, 175);
}

.password::placeholder {
    opacity: 0.3;
    font-weight: bold;
}

.region-spreadsheet-header {
    background-color: #02BFA5;
}

.region-spreadsheet {
    background-color: rgb(214, 214, 214);
}

.region-spreadsheet-name-container {
    font-size: 25px;
    font-weight: bold;
}

.region-spreadsheet-name {
    color: #5597BC;
}

.region-spreadsheet-header {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.sort-col:hover {
    background-color: #06d1b6;
    cursor: pointer;
}

.spreadsheet-entry {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.region-spreadsheet-list {
    scrollbar-width: thin;
}

.subregion-input {
    border-radius: 5px;
    border: 1px solid rgb(179, 179, 179);
    outline: 0;
    font-size: 20px;
    background-color: rgb(240, 240, 240);
}

.link-color {
    color: #5597BC;
    cursor: pointer;
}

.link-color:hover {
    color: #64aed8;
}

.entry-container, .entry-input-container {
    border-right: 1px solid rgb(180, 180, 180);
}

.entry-col:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    cursor: pointer;
}

.delete-subregion {
    color: rgb(223, 0, 0);
}

.delete-subregion:hover {
    color: white;
    background-color: rgb(223, 0, 0);
} 

.viewer-information-container, .viewer-landmarks-title {
    font-weight: bold;
    font-size: 25px;
}

.add-landmark {
    font-size: 25px;
    font-weight: bold;
}

.add-landmark-controls {
    font-size: 18px;
}

.add-landmark-input {
    font-size: 20px;
    outline: 0;
}

.add-landmark-controls {
    border-radius: 3px;
    background-color: #02BFA5;
    color: white;
    cursor: pointer;
}

.add-landmark-controls:hover {
    background-color: #00b69e;
}

.viewer-landmarks-container {
    background-color: rgb(226, 226, 226);
}

.navigate-parent {
    height: 100%;
}

.navigate-parent:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 5px;
}

.landmarks-entry {
    font-size: 25px;
    font-weight: bold;
}

.landmarks-entry:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.region-landmarks-list {
    scrollbar-width: thin;
}

.spreadsheet-buttons:hover {
    background-color: rgb(182, 182, 182);
    color: white;
}

.flag-col {
    pointer-events: none;
}