@use 'node_modules/wt-frontend/build/global/theme' with (
    $modal-border: 1px solid rgb(87, 93, 105),
    // other variable changes here
);

@use 'node_modules/wt-frontend/build/global/wolfie' as *;
@use 'node_modules/wt-frontend/build/global/components';

:root {
    
}

html, body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.input-names {
    font-size: 20px;
}

.navbar-options {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar-options:hover {
    color: black;
}

.modal-header {
    background-color: #02BFA5;
    color: white;
}

.welcome-text {
    font-size: 60px;
    font-weight: bold;
}

.modal-error {
    font-size: 20px;
}