@use 'node_modules/wt-frontend/build/global/theme' with (
    $modal-border: 1px solid rgb(87, 93, 105),
    // other variable changes here
);

@use 'node_modules/wt-frontend/build/global/wolfie' as *;
@use 'node_modules/wt-frontend/build/global/components';

html, body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.logo:hover {
    cursor: pointer;
    color: rgb(196, 196, 196);
}

.input-names {
    font-size: 20px;
}

.navbar-options {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar-options:hover {
    color: black;
}

.modal-header, .map-select-header {
    background-color: #02BFA5;
    color: white;
}

.welcome-text {
    font-size: 60px;
    font-weight: bold;
}

.modal-error {
    font-size: 20px;
}

.map-select {
    background-color: rgb(226, 226, 226);
}

.create-map {
    font-size: 25px;
    font-weight: bold;
}

.map-list {
    background-color: rgb(214, 214, 214);
    scrollbar-width: thin;
}


.map-entry {
    font-size: 25px;
    font-weight: bold;
}

.map-entry:hover {
    background-color: rgb(226, 226, 226);
}

.create-map-input {
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-color: rgb(245, 245, 245);
    color: rgb(109, 109, 109);
}

.material-icons:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

.edit {
    color: rgb(240, 206, 56);
}

.delete {
    color: rgb(85, 85, 85);
}

.edit-map-name-input {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: 2px solid #02BFA5;
    outline: 0;
}

.wnavitem::marker {
    color: rgb(214, 214, 214);
}

.create-map-input {
    outline: none;
    border-radius: 5px;
    border: 2px solid #02BFA5;
}

.map-entry-name {
    color: rgb(85, 85, 85);
}

.editingMap {
    background-color: rgb(226, 226, 226);
}

.map-delete-confirmation-text {
    color: #D32F2F;
}